/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    display: inline-block;
}

li{
    list-style-type: none;
}

.button{
    background-color: #0061ff;
    padding: 7px 15px;
    color: white;
}

.button:hover{
    background-color: #367be9;
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav li{
    list-style-type: none;
    display: inline-block;
}

nav a{
    margin: 0 15px;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
}

nav a:hover, .hero .cancel-subscription:hover{
    text-decoration: underline;
    color: black;
}

.menu-topleft{
    width: 50%;
    display: inline-block;
    padding: 1.5% 0;
    float: left;
}

.logo{
    float: left;
    width: 15%;
    margin: 0 15px;
}

.menu-topright{
    display: inline-block;
    width: 50%;
    padding: 1.5% 0;
    float: left;
    text-align: right;
}

/* HERO */
.hero{
    width: 80%;
    margin: 5% auto 0;
}

.hero h2{
    padding: 5% 0 3%;
    font-size: 3.9em;
}

.cancel-subscription{
    color: black;
    display: block;
}

.c-40{
    width: calc(40% - 40px);
    margin: 0 auto;
    float: left;
    padding-right: 40px;
}

.c-40 span, .c-40 div{
    font-size: 0.8em;
    font-weight: bold;
}

.c-40 div{
    margin-top: 25px;
}

.c-40 div a:last-of-type{
    font-size: 0.8em;
    margin-top: 10px;
}

.c-40 svg{
    margin-top: 30px;
    width: 7%;
}

.c-60{
    width: 60%;
    margin: 0 auto;
    float: left;
}

.c-60 img{
    width: 100%;
}

/* SEZIONI */

.container{
    width: 70%;
    margin: 0 auto;
}

.container h2{
    margin: 10% 0 5%;
    font-size: 2em;
}

.container label{
    margin-right: 20px;

}

.plan-column{
    width: calc(100% / 3 - 20px);
    border: 1px solid #d0d0d3;
    margin: 35px 10px;
    float: left;
}

.plan-type{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

#single::before{
    content: "\1F464";
}

.plan-type span::before{
    content: "\1F3E2";
}

.plan-details{
    width: 80%;
    margin: 30px auto 0;
}

.plan-details h3{
    padding: 0px 0 15px;
}

.plan-details span{
    display: block;
}

.plan-details .f-gray{
    padding: 5px 0 15px;
    font-size: 0.8em;
}

.plan-details ul li{
    font-size: 0.75em;
    margin: 20px 0;
}

.price{
    font-weight: bold;
}

.price::after{
    padding-left: 5px;
    content: "\20AC";
}

#users::before{
    content: "\1F464";
}

#storage::before{
    content: "\1F5BF";
}

#functions::before{
    content: "\1F589";
}

.trial{
    margin: 30px 0 20px;
    font-size: 0.8em;
    text-align: center;
}