/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* PROPRIETA' CON PIU' CLASSI */
li, a{
    list-style-type: none;
    text-decoration: none;
}

nav li, .purchase span, a{
    display: inline-block;
}

.menu-topleft, .menu-topright{
    width: 50%;
    padding: 1.5% 0;
    float: left;
}

.menu-topright .button, .c-40 .button, .trial .button, .plan-contact-us .button{
    background-color: #0061ff;
}

.purchase a, .container .clients a{
    color: #0061ff;
}

nav a:hover, .hero .c-40 .f-black:hover{
    text-decoration: underline;
}

nav a, .plan-contact-us, #language a, .purchase a, .container .clients a, .enterprise div, .purchase span, .trial, .plan-details .f-gray, .c-40{
    font-size: 0.8em;
}

.container h2, .container .faq h3{
    font-size: 2em;
}

.container .faq div:last-of-type, .plan-type, .purchase span{
    border-bottom: 1px solid #d0d0d3;
}

.enterprise div, .plan-contact-us{
    padding: 30px 0;
}

.margin-h2-container, .container .faq h3{
    margin: 8% 0 5%;
}

.client-quote p, .client-quote img{
    margin-bottom: 10%;
}
/* FINE PROPRIETA' CON PIU' CLASSI */

/* LINK */
.button{
    padding: 7px 15px;
}

.button.f-white:hover{
    background-color: #367be9;
}

.button.f-black{
    border: 1px solid #000;
    margin-top: 40px;
}

nav a{
    margin: 0 15px;
    color: black;
}

.container .clients a{
    text-decoration: underline;
    margin-bottom: 5%;
}

.plan-contact-us a{
    padding: 7px 20%;
}

.plan-contact-us{
    width: 35%;
    float: left;
    text-align: center;
}

.bg-lightblue .container a{
    margin-top: 10%;
    float: left;
    padding: 5px 40px;
}

#language a{
    color: #6d6d6d;
    margin: 30% 0;
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.logo{
    float: left;
    width: 15%;
    margin: 0 15px;
}

/* HERO */
.hero{
    width: 80%;
    margin: 0 auto 10%;
    position: relative;
    bottom: -80px;
}

.hero h2{
    padding: 5% 0 3%;
    font-size: 3.9em;
}

/* SEZIONI */

.container{
    width: 70%;
    margin: 0 auto;
}

.container label{
    margin-right: 20px;
}

.container .clients{
    width: 50%;
    margin-bottom: 2%;
}

.container .faq{
    margin-bottom: 10%;
}

.container .faq div{
    font-weight: bold;
    font-size: 0.85em;
    border-top: 1px solid #d0d0d3;
    padding: 3% 0;
}

.plan-type{
    padding: 10px 0;
    text-align: center;
}

.plan-details{
    width: 80%;
    margin: 30px auto 0;
}

.plan-details .f-gray{
    padding: 5px 0 15px;
}

.plan-details ul li{
    font-size: 0.75em;
    margin: 20px 0;
}

.trial{
    margin: 30px 0 20px;
    text-align: center;
}

.purchase span{
    padding-bottom: 20px;
}

.pack h5{
    padding-top: 20px;
}

.pack ul li::before {
    content: "\2714";
    color: #0061ff;
}

.plan-row{
    width: 95%;
    margin: 0 auto 5%;
}

.plan-enterprise{
    width: 90%;
    margin: 0 auto;
}

.enterprise{
    width: 65%;
    float: left;
}

.enterprise h3{
    font-size: 1.6em;
    padding: 30px 0 20px;
}

.big-square{
    width: 30%;
    margin: 0 auto;
    float: left;
}

.square{
    width: 50%;
    margin: 0 auto;
    float: left;
    height: 33vh;
    line-height: 33vh;
}

.square img{
    width: calc(100% - 50%);
    margin: 0 25%;
    text-align: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(108%) contrast(102%);
}

.client-quote{
    width: calc(40% - 40px);
    padding: 2.5% 2.5% 8% 2.5%;
    float: left;
    overflow-y: auto;
    height: 66vh;
}

.client-quote img{
    width: 22%;
}

.bg-lightblue .container h2{
    width: calc(65% - 25%);
    margin: 10% 25% 10% 0;
    color: #61082b;
    float: left;
}

.faq .fa-angle-down{
    float: right;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
}

#language{
    border-top: 1px solid #6d6d6d;
    width: 11%;
}

/* CLIENTS LOGOS */
#designit{
    background-color: #a2d39b;
    border: 10px solid #cbe7c7;
    box-sizing: border-box;
}

#uniflorida{
    background-color: #0093ce;
}

#uniarizona{
    background-color: #61082b;
    padding-top: 10%;
}

#topps{
    background-color: #ee1a1a;
    padding-top: 4%;
}

#world-bicycle{
    background-color: #d5001f;
}

#lonely-planet{
    background-color: #0d2481;
    padding-top: 4%;
}

#hearst-corp{
    background-color: #b4d0e7;
}

#clear-channel{
    background-color: #ffd830;
    padding-top: 6%;
}