/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav li{
    list-style-type: none;
    display: inline-block;
}

nav a{
    margin: 0 15px;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
}

nav a:hover, .hero .cancel-subscription:hover{
    text-decoration: underline;
    color: black;
}

.menu-topleft{
    width: 50%;
    display: inline-block;
    padding: 1.5% 0;
    float: left;
}

.logo{
    float: left;
    width: 15%;
    margin: 0 15px;
}

.menu-topright{
    display: inline-block;
    width: 50%;
    padding: 1.5% 0;
    float: left;
    text-align: right;
}

.menu-topright .f-white{
    background-color: #0061ff;
    padding: 7px 15px;
}

.menu-topright .f-white:hover{
    background-color: #367be9;
}

/* HERO */
.hero{
    width: 80%;
    margin: 5% auto 0;
}

.hero h2{
    padding: 5% 0 3%;
    font-size: 3.9em;
}

.button{
    background-color: #0061ff;
    padding: 7px 15px;
}

.button:hover{
    background-color: #367be9;
}

.cancel-subscription{
    color: black;
    display: block;
}

.c-40{
    width: calc(40% - 40px);
    margin: 0 auto;
    float: left;
    padding-right: 40px;
}

.c-40 span, .c-40 div{
    font-size: 0.8em;
    font-weight: bold;
}

.c-40 div{
    margin-top: 25px;
}

.c-40 div a:last-of-type{
    font-size: 0.8em;
    margin-top: 10px;
}

.c-40 svg{
    margin-top: 30px;
    width: 7%;
}

.c-60{
    width: 60%;
    margin: 0 auto;
    float: left;
}

.c-60 img{
    width: 100%;
}