.bg-white{
    background-color: white;
}

.f-white{
    color: white;
}

.f-black{
    color: black;
}

.f-gray{
    color: #7a8793;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.border-gray{
    border: 1px solid #d0d0d3;
}

.pb-10{
    padding-bottom: 10%;
}