*{font-family: sans-serif; scroll-behavior: smooth;}

.topnav {overflow: hidden; background-color: #fff; position: relative;}
.topnav a {color: #000; font-weight: bold; margin: 0.8em; display: block;}
.topnav .sign-in a{color: #fff; padding: .35rem .7rem;}

.topnav a.icon {
    background: #fff;
    display: block;
    position: absolute;
    right: 5%;
    top: 0;
    color: #000;
}

.bg-blue{background-color: #0061ff;}
.bg-lightgray{background-color: #f5f5f5;}
.bg-lightblue{background-color: #b4d0e7;}
.bg-black{background-color: var(--black);}
.text-blue{color: #0061ff;}
.text-gray{color: #7a8793;}
.text-lightgray{color: #6d6d6d;}
.text-darkred{color: #61082b;}

.hero{background-color: #b4d0e7;}

.container#plans .col-12 > div:nth-child(1),
.container#plans .col-12 > div:nth-child(2),
.container#plans .col-12 > div:nth-child(3),
.enterprise{
    border: 1px solid #d0d0d3;
}

.plan-type{
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 0;
    text-align: center;
}

.plan-details{width: 80%; margin: 10% auto 0;}
.plan-enterprise{width: 95%; margin: 3% auto;}

.purchase span{border-bottom: 1px solid #d0d0d3;}

.pack ul li::before {
    content: "\2714";
    color: #0061ff;
}

.partner div:last-of-type div a{
    border: 1px solid #000;
}

.client-logo{height: 50vw;}
.client-logo img{filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(108%) contrast(102%);}

/* CLIENTS LOGOS */
#designit{background-color: #a2d39b; border: 10px solid #cbe7c7; box-sizing: border-box;}
#uniflorida{background-color: #0093ce;}
#uniarizona{background-color: #61082b;}
#topps{background-color: #ee1a1a;}
#world-bicycle{background-color: #d5001f;}
#lonely-planet{background-color: #0d2481;}
#hearst-corp{background-color: #b4d0e7;}
#clear-channel{background-color: #ffd830;}

.faq div{border-top: 1px solid #d0d0d3;}
.faq div:last-of-type{border-bottom: 1px solid #d0d0d3;}

#language{border-top: 1px solid #6d6d6d;}

@media screen and (min-width: 36em) {
    
}

@media screen and (min-width: 48em) {
    .client-logo{height: 25vw;}
}

@media screen and (min-width: 62em) {
    .client-logo{height: calc((100vw / 3) / 2);}
    #quote{height: calc(100vw / 3);}

    .hero > div{
        width: 78%;
        margin: 0 auto 10%;
        position: relative;
        bottom: -70px;
    }
    
}

@media screen and (min-width: 75em) {
    .client-logo{height: calc((100vw / 3) / 2);}
    #quote{height: calc(100vw / 3);}
    
    .topnav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        font-weight: bold;
        z-index: 500;
    }
}

@media screen and (min-width: 90em) {
    .client-logo{height: calc((100vw / 3) / 2);}
    #quote{height: calc(100vw / 3);}
}